@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;


header {
    box-shadow: 0 4px 0 rgba(100, 98, 98, 0.3);
}

.hotel-feu {
    .hotel-card {
        display: flex;
        flex-direction: row-reverse;
        margin-left: 12rem;
    }
}

.offre-hotel-feu {
    .container {
        width: 75%;
        margin: auto;
    }

    .row {
        margin-top: 10rem;
        @include d-flex-column-start;
        gap: 3rem;

        .container-card {
            @include d-flex;
            justify-content: space-between;
            width: 100%;

        }

    }
}

.sup-hotel-feu {
    .container {
        .row {
            margin-top: 10rem;
            @include d-flex-column-start;
            gap: 3rem;
            margin-left: 12rem;
        }
    }
}

.activities-hotel-feu {
    .container {
        .row {
            margin-top: 10rem;
            @include d-flex-column-start;
            gap: 3rem;
            margin-left: 12rem;
        }
    }
}

.video-hotel-feu {
    .row {
        margin-top: 10rem;
        video {
            width: 100%;
            height: 540px;
            object-fit: fill;
        }
    }
}

.testimonial-hotel-feu {
    .container {
        width: 75%;
        margin: auto;
    }

    .row {
        margin-top: 10rem;
        @include d-flex-column-start;
        gap: 3rem;

        .container-card {
            @include d-flex;
            justify-content: space-between;
            width: 100%;

        }

    }
}

.info-hotel-feu {
    .container {
        width: 75%;
        margin: auto;
    }

    .row {
        margin-top: 10rem;
        @include d-flex-column-start;
        gap: 3rem;

        .grid-info {

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;
            
            div {
                display: flex;
                align-items: center;
                width: 40%;
                gap: 1rem;
                padding-bottom: 1rem;

                img {
                    width: 30px;
                }

                .title {
                    font-weight: bold;
                }

                .text-double {
                    @include d-flex;
                    gap: 0.5rem;
                    width: 100%;

                    

                    .horraire {
                        @include d-flex-column-start;
                        gap: 0.5rem;
                    }
                }

                .text {
                    @include d-flex-column-start;
                    gap: 0.5rem;
                    width: 100%;
                }
            }
        }

        .contact {
            @include d-flex-column-start;
            gap: 2rem;

            .adress-contact {
                @include d-flex-column-start;
            }
        }

    }
}