@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.hotels {
    .row {
        margin-top: 18rem;

        .hotel-card:first-of-type, .hotel-card:nth-of-type(3) {
            display: flex;
            flex-direction: row-reverse;
            margin-left: 8rem;

            
        }
    }
    @media screen and (max-width: 990px) {

        display: flex;
        justify-content: flex-end;
        .container{
            width: 95%;

            .hotel-card:first-of-type, .hotel-card:nth-of-type(3) {
                @include d-flex-column-start;
                gap: 1rem;
                margin-left: 0;
            }

            .hotel-card:nth-of-type(2), .hotel-card:nth-of-type(4) {
                .container-img {
                    display: flex;
                    flex-direction: row-reverse;
                }
                
    
                
            }
        }
        
        
    }

}

.presentation {
    .container {
        @include container-75;

        .row {
            @include d-flex;
            justify-content: space-between;

            article {
                width: 45%;
                @include d-flex-column-start;
                gap: 2rem;

                .content {
                    @include d-flex-column-start;
                    gap: 1.5rem;
                }
                &:nth-of-type(2) {
                    .content{
                        flex-direction: column-reverse;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 990px) {
        .container {
            width: 90%;

            .row {
                @include d-flex-column-start;
                gap: 2rem;

                article {
                    width: 100%;
                }
            }
        }
    }
}

.createur {
    .container {
        @include container-75;

        .row {

            article {
                @include d-flex-column-start;
                gap: 2rem;

                .content {
                    @include d-flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    width: 100%;
                    gap: 3rem;

                    img {
                        object-fit: cover;
                        width: 45%;
                    }

                    .text{
                        @include d-flex-column-start;
                        width: 45%;
                        gap: 2rem;

                        .paragraph {
                            display: flex;
                            flex-direction: column;
                            img {
                                width: 120px;
                            }
                        }

                        .signature {
                            display: flex;
                            flex-direction: column;
                        }
                    
                    }

                    
                }
                
            }
        }
    }

    @media screen and (max-width: 990px) {
        .container {
            width: 90%;

            .row {

                article {
                    .content {
                        @include d-flex-column-start;
                        width: 100%;
                        gap: 2rem;
                        img {
                            width: 100%;
                        }

                        .text {
                            width: 100%;
                        }
                    }
                }
                
            }
        }
    }
}