@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

.banner {
    .row{
        margin-top: 0;
        .video{
            position: relative;
            video {
                width: 100%;
                height: 80vh;
                object-fit: cover;
            }

            .encart-video{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 5%;
                z-index: 10;
            }
        }
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(041, 045, 037, 0.28); 
            z-index: 1; 
        }
    }

    
}