@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;

label {
    font-family: 'Karla-Regular';
    font-size: 1rem;
    line-height: 100%;
    color: $primary-color;
}

input, select {
    background-color: $input-color;
    height: 3.5rem;
    color: #656366;
    font-family: 'Karla-Regular';
    font-size: 1rem;
    line-height: 100%;
    width: 12rem;
    border-radius: 8px;
    padding-left: 1rem;

    @media screen and (max-width: 990px) {
        height: 2.5rem; 
        width: 100%;
    }
}

.error-box {
    font-family: 'Karla-Regular';
    font-size: 1rem;
    font-weight: bold;
    line-height: 100%;
    color: $danger-color;
}


#searchForm {
    background-color: $tertiary-color;
    border-radius: 18px;
    @include d-flex-column-start;
    justify-content: space-evenly;
    position: absolute;
    top: 103%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    gap: 1rem;
    height: 220px;

    .align-input {
        @include d-flex;
        gap: 1rem;

        div {
            @include d-flex-column-start; 
            gap: 0.5rem;
        }
        
    }

    .cta {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media screen and (max-width: 990px) {
        height: 350px;
        padding: 1.5rem;

        .align-input {
            @include d-flex-column-start; 
            gap: 1rem;
        }
    }
}

#booking-form {
    @include d-flex-column-start;
    gap: 1rem;

    input, select {
        
        height: 2.5rem;
        width: 17rem;
        
    }

    .label-align {
        @include d-flex-column-start;
        gap: 0.5rem;
    }

    .align {
        @include d-flex;
        gap: 3rem;
    }

    .customer {
        @include d-flex-column-start;
        gap: 1rem;
        .name {
            @include d-flex;
            gap: 3rem;

        }

        .adress {
            @include d-flex-column-start;
            gap: 1rem;
        }
    
        .contact {
            @include d-flex;
            gap: 3rem;
        }
    }

    .lodging {
        @include d-flex-column-start;
        gap: 1rem;

        .hotel, .nbCustumer {
            @include d-flex-column-start;
            gap: 0.5rem;
        }
    }

    .dates {
        @include d-flex-column-start;
        gap: 1rem;

    }

    
    .meal  {
        @include d-flex-column-start;
        gap: 1rem;
        
            input[type=checkbox] {
                width: 20px;
                height: 20px;
                margin-right: 1rem;
            }

            #dietSection{
                @include d-flex-column-start;
                gap: 1rem;
            }

            #allergySection{
                @include d-flex-column-start;
                gap: 1rem;
            }
        
    }

    .services {
        @include d-flex-column-start;
        gap: 1rem;
        
            input[type=checkbox] {
                width: 20px;
                height: 20px;
                margin-right: 1rem;
            }
        
    }  
    
    .cta {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding-bottom: 1rem;
    }

    @media screen and (max-width: 990px) {
        
        .align {
            @include d-flex-column-start;
            gap: 1rem;
        }
        .customer {
            .name {
                @include d-flex-column-start;
                gap: 1rem;
            }

            .contact {
                @include d-flex-column-start;
                gap: 1rem;
            }
        }

        
    }
}