@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;
@use "../../abstracts/colors" as *;

.primary-btn {
    background-color: $primary-color;
    padding: 7px 14px;
    color: #ffffff;
    font-size: 1.875rem;
    line-height: 100%;
    font-family: 'Karla-Regular';
    border-radius: 6px;
    text-transform: capitalize;
}