@mixin d-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@mixin d-flex {
    display: flex;
    
}

@mixin d-flex-column-start {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}